<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    	http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
		
	<dubbo:reference id="taskService" interface="com.sprucetec.deploy.api.service.TaskService" group="autoDeploy" retries="${dubbo.retries}" />
	<dubbo:reference id="configService" interface="com.sprucetec.deploy.api.service.ConfigService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="taskLogService" interface="com.sprucetec.deploy.api.service.TaskLogService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="appService" interface="com.sprucetec.deploy.api.service.AppService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="envService" interface="com.sprucetec.deploy.api.service.EnvService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="hostService" interface="com.sprucetec.deploy.api.service.HostService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="appDetailService" interface="com.sprucetec.deploy.api.service.AppDetailService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="envDetailService" interface="com.sprucetec.deploy.api.service.EnvDetailService" group="autoDeploy"  retries="${dubbo.retries}"/>
	
	<!-- <dubbo:reference id="jobService" interface="com.sprucetec.deploy.api.service.JobService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="jobTypeService" interface="com.sprucetec.deploy.api.service.JobTypeService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="jobConfigService" interface="com.sprucetec.deploy.api.service.JobConfigFileService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="jobDetailService" interface="com.sprucetec.deploy.api.service.JobDetailService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="jobLogService" interface="com.sprucetec.deploy.api.service.JobLogService" group="autoDeploy"  retries="${dubbo.retries}"/>
	<dubbo:reference id="jobRecordService" interface="com.sprucetec.deploy.api.service.JobRecordService" group="autoDeploy"  retries="${dubbo.retries}"/> -->
	
	


</beans>